extends mathtex

snippet linearN "snippet"
\left\\{
	\begin{matrix}
		a_{11}x_{11}\\cdots +a_{1n}x_{1n} = b_1\\\\
		\vdots\\\\
		a_{n1}x_{n2}\\cdots +a_{nn}x_{nn} = b_n\\\\
	\end{matrix}
\right.$0
endsnippet
